*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-one:rgb(33, 22, 82);
    --color-two:rgb(25, 67, 255);
    --color-trhee:rgb(215, 216, 243);
    --color-four:rgb(171, 169, 173);
    --color-five:rgb(236, 128, 65);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;
    background-color: var(--color-two);
    font-family: 'Courier New', Courier, monospace;
}

.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-title{
    font-size: 2em;
    color: var(--color-one);
    text-shadow: 1px 1px 3px var(--color-trhee);
}

.header-subtitle{
    color: var(--color-trhee);
    text-align: center;
}

/* CALCULATOR */
.main-container{
    display: flex;
    flex-direction: column;

    gap: 15px;

    width: 70vw;
    max-width: 400px;
    height: 70vh;
    max-height: 500px;

    background-color: var(--color-trhee);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--color-one);
}

/* RESULT SCREEN */
.result-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    width: 100%;
    height: 30%;
    padding: 15px;
    background-color: var(--color-four);
    border-radius: 7px;
    box-shadow: 0 0 7px var(--color-one);
}

#current-operation{
    font-size: 1.3em;
    align-self: flex-end;
}

#last-operation{
    align-self: flex-start;
    color: grey;
}

.btn{
    width: 25%;
    height: 100%;

    box-shadow: 0 0 7px var(--color-one);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px;
    
    background-color: transparent;
    
    font-size: 1em;
    font-weight: 900;
}

/* CLEAR & DELETE */
.options-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    width: 100%;
    height: 20%;
}

.erase{
    width: 50%;
    height: 100%;
    padding: 10px;

    border-radius: 10px;
    box-shadow: 0 0 7px var(--color-one);
    background-color: var(--color-two);
    color: var(--color-trhee);
}

.row-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 20px;
    width: 100%;
    height: 12%;
}

.number, .operation, .special{
    width: 25%;
    height: 100%;
}

.operation{
    background-color: var(--color-five);
}

.special{
    background-color: var(--color-four);
} 

button:hover{
    opacity: 0.7;
}

footer{
    position: fixed;
    bottom: 0;
    padding: 10px;
}

footer>p{
    color: var(--color-trhee);
    font-size: 1.3em;
    text-shadow: var(--color-one);
}